*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.container{
    background: linear-gradient(135deg, #153677, #4e085f);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 0 auto;
    padding: 40px 40px 70px 40px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom:20px ;
}

.todo-app img{
    width: 30px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edeef0;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
}

input{
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
}

button{
    padding: 16px 50px;
    border: none;
    /* outline: none; */
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius:50% ;
    background-image: url(./To-Do-Img/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./To-Do-Img/images/checked.png);
}