@media (max-width: 480px){



.todo-app{
    max-width: 480px;
    
}


.todo-app h2{
    gap: 15px;
    margin-bottom:15px ;
}

.todo-app img{
    width: 20px;
}


button{
    padding: 16px 40px;
}

}